

    <!--//////////////////////////////////////Menu-->
    <a href="#" class="nav-toggle">Toggle Navigation</a>
    <nav class="cmn-tile-nav">
		<ul class="clearfix">
			<li class="colour-1"><a href="/">Home</a></li>
			<li class="colour-2"><a href="/menu">Menu</a></li>
			<li class="colour-3"><a href="/location">Location</a></li>
			<li class="colour-4"><a href="/blog">Blog</a></li>
			<li class="colour-5"><a href="/reservation">Reservation</a></li>
			<li class="colour-6"><a href="/staff">Our Staff</a></li>
			<li class="colour-7"><a href="/news">News</a></li>
			<li class="colour-8"><a href="/gallery">Gallery</a></li>
		</ul>
    </nav>