*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.student-table img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}
.add_btn{
        transition: .5s;
        
}
.add_btn:hover{
        box-shadow: 6px 4px 9px 2px #75759d;
        transition: .5s;
        letter-spacing: .1px;

}
.student-form .upload_image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}
.student-form input[type="file"]{
    display: none;
}
.preload-student{
    max-width: 100%;
}
.single_student img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #0707ff;
    transition: .3s;
    object-fit: cover;
 
}
.single_student img:hover {
       box-shadow: -1px 0px 13px -4px black;
}
.p_data {
    background: #efefef;
    border-radius: 14px;
    padding: 6px 30px;
    margin-top: 11px;
    border: 3px solid #ddd;
    box-shadow: 3px 5px 13px -9px black;
}
.user-info{
    padding: 15px ;
    background-color: rgb(223, 221, 221);
    transition: .3s;
    cursor: pointer;
}
.user-info:hover{
    background-color: rgb(184, 184, 184);
}
.user-info img {
    margin: auto;
    display: block;
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
}
.user_body .num{
    margin-bottom: 0px !important;
}
.stu_card {
    border-radius: 10px;
    margin-bottom: 28px;
    position: relative;
    transition: .3s ease-in-out;
}
.verified_stu_title{
    background-color: rgb(76, 72, 72);
    color: white;
    padding: 30px;
}
.stu_card a {
    text-decoration: none;
    color: black;
    font-weight: 200;
}
.stu_card::after {
    content: "V";
    width: 45px;
    height: 38px;
    background: #d61400;
    position: absolute;
    top: 0px;
    right: 12px;
    text-align: center;
    color: #fefe00;
    border-radius: 0px 0px 0px 25px;
    font-weight: 900;
    font-size: 21px;
    box-shadow: -2px 2px 3px 0px #6d6f87;
}
.user-info .user_action{
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}
.stu_card:hover .user-info .user_action{
    visibility: visible;
    opacity: 1;
}
.card-body h2 i {
    color: #fe4d4d;
    font-size: 31px;
    font-weight: 900;
}
.verify_btn {
    background: #9303f5;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 1px 11px;
    border: none;
    border-radius: 0px 7px 7px 0px;
    transition: .3s;
}
.verify_btn:hover{
    background-color: #ed3939;
}
.phone_body {
    background: black;
}
.phone_num{
    display: none;
}
input[name=sms_page_id]{
    display: none;
}